.additional-goods {
  overflow: hidden;
  padding: 25px 0 35px;

  @media (min-width: @tablet-width) {
    padding: 69px 0 77px;
  }

  @media (min-width: @desktop-width) {
    padding: 76px 0 87px;
  }
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  background: #ffffff;
  margin: 0 0 35px -20px;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 81px;
    font-size: @tablet-h2size;
    line-height: @tablet-h2size;
    padding: 0 40px;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    margin-left: -40px;
    margin-bottom: 79px;
    border-bottom: none;
  }
}

.additional-goods__title::after,
.additional-goods__title::before {
  content: "";
  position: absolute;
  top: 60%;
  width: 100vw;
  height: 3px;
  background: #68b738;
  z-index: -1;
}

.additional-goods__title::after {
  left: 20px;
}

.additional-goods__title::before {
  right: 0;
}

.additional-goods__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 81px;
  }
}

.additional-goods__list {
  list-style: none;
  margin: 0;
  padding: 0 0 35px;
  border-top: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    padding-bottom: 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.additional-goods__item {
  padding: 13.5px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: @tablet-width) {
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
    padding: 25px 0 27px;
  }

  @media (min-width: @desktop-width) {
    border-left: 0;
    border-right: 0;
    padding: 15px 0 16px;
  }
}

.additional-goods-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}

.additional-goods-card__wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 21.5px;
  }

  @media (min-width: @desktop-width) {
    gap: 163px;
    align-items: center;
    padding: 0;
  }
}

.additional-goods-card__title {
  margin: 0;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 162.5px;
  }
}

.additional-goods-card__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 13.5px;

  @media (min-width: @tablet-width) {
    padding: 0;
    gap: 7px;
  }

  @media (min-width: @desktop-width) {
    min-width: 326px;
    padding-right: 40px;
  }
}

.additional-goods-card__description-name,
.additional-goods-card__description-price {
  margin: 0;
}

.additional-goods-card__description-price {
  @media (min-width: @tablet-width) {
    min-width: 86px;
    padding-left: 45px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    min-width: 42px;
    padding: 0;
    text-align: left;
  }
}

.additional-goods__link {
  @media (min-width: @desktop-width) {
    padding: 10px 91px;
  }
}

.additional-goods__present {
  position: relative;
  background-image: url("../img/background-additional-goods-present.jpg");
  background-color: #68b738;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 186px 70px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  width: 290px;
  color: #ffffff;
  margin: 0;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/additional-goods-present-icon.svg");
    width: 78px;
    height: 80px;
    left: 101px;
    top: 59px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/background-additional-goods-present-tablet.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: left;
    padding: 71px 125px 69px 421px;
    width: 707px;

    &::before {
      left: 79px;
      top: 57px;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/background-additional-goods-present.jpg");
    background-position: top right;
    text-align: center;
    padding: 185px 41px 43px;
    width: 244px;

    &::before {
      left: 84px;
      top: 58px;
    }
  }
}
