.button {
  display: block;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  background-color: #68B738;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 63.5px;
}
