.control {
  padding-top: 22px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding: 0 0 65px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 0 65px;
  }
}

.control__list {
  list-style: none;
  margin: 0;
  padding: 0 20px 19px;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: @tablet-width) {
    border: 1px solid #CDCDCD;
    padding: 23px 0 14px;
  }

  @media (min-width: @desktop-width) {
    border: 1px solid #CDCDCD;
    padding: 25px 0;
  }
}


.control__list--not-mobile {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 10px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}



.control__item {
  position: relative;

  @media (min-width: @tablet-width) {
    margin-left: 27px;
  }

  @media (min-width: @desktop-width) {
    .control__list--not-mobile & {
      margin: 0;
    }
  }
}

.control__label {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.control__label-input {
  margin: 0;
}

.control__label-circle {
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}

.control__label-circle {
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}

.control__label-input[type="radio"]:checked + .control__label-circle::after {
  content: "";
  background-image: url(../../img/radiobutton-active-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 7px;
  left: 7px;
  width: 13px;
  height: 13px;
  display: block;
}

.control__label-square {
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #CDCDCD;
}

.control__label-input[type="checkbox"]:checked + .control__label-square::after {
  content: "";
  background-image: url(../../img/checkbox-active-icon.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 8px;
  left: 5px;
  width: 18px;
  height: 14px;
  display: block;
}
