.control {
  padding-top: 22px;
  padding-bottom: 6px;
}

.control__list {
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.control__item {
  padding-bottom:  13px;
}

.control__label {
  font-family: "Oswald";
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 45px;
}

.control__label-input {
  margin: 0;
}
