.cooperation {
  position: relative;
  background-color: #f2f2f2;
}

.cooperation--index {
  background-color: #ffffff;
}

.cooperation__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 17px;
  padding-top: 27px;
  padding-bottom: 5px;

  &--main {
    background-color: #ffffff;
  }

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 60px 70px 39px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: #ffffff;
    top: 95px;
    right: calc(50% + 45px);
    width: 565px;
    box-sizing: border-box;
    padding: 60px 78px 39px 80px;
  }
}

.cooperation__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  max-width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: none;
  }
}

.cooperation__description {
  margin: 0;
  line-height: 20px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
    font-size: 16px;
  }
}

.cooperation__description-info {
  margin: 0;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
  }
}

.cooperation__map {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}

.cooperation__map-img {
  display: none;
  margin: 0 auto;
}
