.cooperation {
  position: relative;
}

.cooperation__wrapper {
  display: flex;
  gap: 17px;
  padding-top: 27px;
  padding-bottom: 25px;
  background-color: #F2F2F2;

  &--main {
    background-color: #FFFFFF;
  }

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 60px 70px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    right: calc(50% + 45px);
    width: 565px;
    box-sizing: border-box;
    padding: 60px 80px;
  }
}

.cooperation__title {
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  max-width: 140px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: none;
  }
}

.cooperation__description {
  line-height: 20px;

  @media (min-width: @tablet-width) {
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.cooperation__description-info {
  margin: 0;
  padding-bottom: 20px;
}

.cooperation__map {
  display: block;
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 400px;
  }
}
