.copyright__link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    gap: 23px;
  }
}

.copyright__name {
  margin: 0;
}
