.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 -20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__description-wrapper {
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding-bottom: 70px;
  }
}

.form__description {
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 21px;

  @media (min-width: @tablet-width) {
    border: none;
    padding-bottom: 70px;
    gap: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    gap: 20px;
    width: 570px;
  }
}

.form__input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  margin: 0;
  padding: 0 20px;
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__input-icon-email,
.form__input-icon-telnum {
  position: absolute;
  right: 33px;
  fill: transparent;
  stroke: #000000;

  @media (min-width: @tablet-width) {
    right: 15px;
  }

  @media (min-width: @desktop-width) {
    right: 17px;
  }
}

.form__input-value:focus + svg {
  stroke: #68b738;
}

.form__input-value:invalid + svg {
  stroke: #ff8282;
}

.form__input-name,
.form__input-value {
  font-family: @oswald;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow-wrap: break-word;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-value {
  width: 100%;
  padding: 14px 15px 13px;
  color: #444444;
  border: 1px solid #e7e7e7;
  appearance: textfield;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:focus,
  &:active {
    outline: 2px solid #444444;
    fill: #68b738;
  }

  &:invalid {
    outline: 2px solid #ff8282;
  }

  @media (min-width: @tablet-width) {
    padding: 9px 20px 13px;
  }

  @media (min-width: @desktop-width) {
    padding: 10px 20px;
  }
}

.form__control {
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
  }
}

.form__contacts {
  margin-bottom: 23px;

  @media (min-width: @tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 1px;
  }
}

.form__comment {
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 65px;
  }
}

.form__title {
  display: inline-block;
  position: relative;
  font-family: @oswald;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 35px;
  padding: 0 20px;
  color: #000000;
  background: #ffffff;

  @media (min-width: @tablet-width) {
    font-size: @tablet-h2size;
    line-height: @tablet-h2size;
    margin: 0 -40px;
    padding: 0 40px;
  }

  @media (min-width: @desktop-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__title::after,
.form__title::before {
  content: "";
  position: absolute;
  top: 52%;
  width: 100vw;
  height: 3px;
  background: #68b738;
  z-index: -1;

  @media (min-width: @tablet-width) {
    top: 59%;
  }

  @media (min-width: @desktop-width) {
    top: 60%;
  }
}

.form__title::after {
  left: 20px;
}

.form__title::before {
  right: 0;
}

.form__title--contacts {
  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
  }
}

.form__title--contacts::after,
.form__title--contacts::before {
  top: 32%;

  @media (min-width: @tablet-width) {
    top: 59%;
  }

  @media (min-width: @desktop-width) {
    top: 58%;
  }
}

.form__title--comment {
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    margin-bottom: 86px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 77px;
  }
}

.form__title--additional {
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-bottom: 33px;
  }
}

.form__title-br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;

  @media (min-width: @tablet-width) {
    gap: 18px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
  }
}

.form__textarea {
  padding: 0 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__textarea-discription {
  font-family: @oswald;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding: 14px;
  padding-left: 15px;
  box-sizing: border-box;
  width: 100%;
  min-height: 150px;
  border: 1px solid #e7e7e7;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 11px 14px 14px 20px;
    min-height: 175px;
  }
}

.form__additional {
  padding-top: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 26px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
  }
}

.form__button-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    padding-bottom: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 79px;
  }
}

.form__submit {
  border: none;
  margin: 16px 20px 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;
    padding: 14px 65px;
    margin: 0 60px 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 208px;
    margin-right: 80px;
  }
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000;
  padding: 21px 20px 32px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    padding: 0;
  }
}
