.main-nav {
  @media (min-width: @tablet-width) {
    width: 441px;
  }

  @media (min-width: @desktop-width) {
    width: 600px;
  }
}

.main-nav__toggle {
  position: relative;
  border: none;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  cursor: pointer;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 9px;
    right: 0;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--opened .main-nav__wrapper {
  display: block;
}

.main-nav__wrapper {
  display: none;
  position: absolute;
  width: 100%;
  top: 44px;
  right: 0;
  left: 0;
  background: #FFFFFF;
  z-index: 2;

  @media (min-width: @tablet-width) {
    display: block;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    background: transparent;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    gap: 34px;
  }

  @media (min-width: @desktop-width) {
    justify-content: end;
    background: transparent;
  }
}

.main-nav__item {
  padding: 22px 20px 24px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;

    &--active {
      padding-top: 10px;
      padding-bottom: 8px;
      border-bottom: 2px solid @green-line;

      @media (min-width: @desktop-width) {
        border-color: #FFFFFF;
      }
    }
  }
}

.main-header--secondary .main-nav__item {
  @media (min-width: @desktop-width) {
    border-color: @green-line;
  }
}

.main-nav__link {
  font-family: @oswald;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 60%;
  }

  &:disabled {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-header--index .main-nav__link {
  @media (min-width: @desktop-width) {
    color: #FFFFFF;
  }
}
