.main-header {
  position: relative;
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  padding: 13px 0 15px;
  background-color: #FFFFFF;

  &--secondary {
    border-bottom: 1px solid #D9D9D9;

    @media (min-width: @tablet-width) {
      border: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 15px;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 55px;
  }
}




@media (min-width: @desktop-width) {
  .main-header--index {
    position: relative;
  }

  .main-header--index::after {
    content: '';
    position: absolute;
    background-image: url(../../img/index-background-desktop.png);
    background-repeat: no-repeat;
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-position: right;
    background-color: #64A73C;
  }
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: @tablet-width) {
    gap: 13px;
  }

  @media (min-width: @desktop-width) {
    gap: 14px;
  }
}

.main-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
