@media (max-width: @mobile-width-only) {
  .no-js .main-nav__toggle {
    display: none;
  }

  .no-js .main-header__row {
    display: block;
  }

  .no-js .main-nav__wrapper {
    display: block;
    position: static;
    margin-top: 20px;
  }
}

.no-js .cooperation__map-img {
  display: block;
}

.no-js .cooperation__map {
  display: none;
}
