.slider-range {
  position: relative;
  display: flex;
  justify-content: center;

  @media (min-width: @desktop-width) {
    margin: 0;
    background-color: transparent;
  }
}

.slider-range__item {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 280px;

  @media (min-width: @tablet-width) {
    padding-bottom: 95px;
    max-width: 560px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
  }
}

.slider-range__slide {
  width: 50%;
  overflow: hidden;

  &--before {
    text-align: right;
  }

  &--after {
    text-align: left;
    transform: scale(-1, 1);
  }
}

.slider-range__img {
  max-width: 280px;

  &--after {
    transform: scale(-1, 1);
  }

  @media (min-width: @tablet-width) {
    max-width: 560px;
  }
}

.slider-range__scale {
  position: absolute;
  top: 0;
  width: 4px;
  height: 100%;
  cursor: pointer;
}

.slider-range__bar {
  width: 4px;
  height: 100%;
  border-radius: 2px;
  background-color: grey;

  &:hover {
    background-color: green;
  }

  &:active {
    background-color: green;
  }

  @media (min-width: @tablet-width) {
    height: 83.5%;
  }
}

.slider-range__togle {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 50%;
  top: 50%;
  transform: translate(-20px, -20px);
  background: white;
  border: 2px solid grey;
  border-radius: 20px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    top: 42%;
  }

  @media (min-width: @desktop-width) {
    top: 48.5%;
  }

  &:hover {
    border: 2px solid green;
  }

  &:active {
    border: 2px solid green;
  }

  &--left::before,
  &--right::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-4px, -9px);
    margin-left: -9px;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid grey;
  }

  &--right::after {
    transform: rotate(180deg) translate(-13px, 9px);
  }

  &--left:hover::before,
  &--right:hover::after {
    border-right-color: green;
  }

  &--left:active::before,
  &--right:active::after {
    border-right-color: green;
  }
}
